html,
body {
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    font-size: 10px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -6rem;
    padding: 0 0 6rem;
}

.wrap > .container {
    padding: 2rem 1.5rem 2rem;
}

/*Header*/
header {
    font-family: "Impact";
    padding: 2rem;
    height: 10rem;
}
header > h1 {
    float: left;
    color: white;
}
header > .logo {
    float: right;
}

header > .logo > .title {
    display: inline-block;
} 

header > .logo > .title > .org-form {
    display: block;
    font-size: 1.5rem;
    color: black;
    text-align: right;
}

header > .logo > .title > .org-name {
    display: block;
    font-size : 3.5rem;
    color: white;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.02rem;
}

header > .logo > img {
    margin: 0 0 2rem 1rem;
    width: 7rem;
}

/*nav*/
.navbar-custom {
    background-color: #6B8BC6;    
    border-radius: 0px;
    font-family: Impact;
    margin: 0px;
}

.navbar-custom ul {
    margin-top: -1.1rem;
}

.navbar-custom li a {
    color: black;
    font-size: 1.5rem;
}

.navbar-custom li.active, .navbar-custom li > a:hover, .navbar-custom li > a:focus,
.nav li > form > button.logout:hover, .nav li > form > button.logout:focus {
    background-color: #BFBCF5;
}

.nav li > form > button.logout {
    color: black;
}

/*align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* index */
.monitoring-index img {
    width: 80rem;
}

.monitoring-index .info {
    font-size: 2rem;
    font-family: "Arial";
    color:  black;
    text-align: right;
    font-weight: bold;
}

.monitoring-index .title, .monitoring-route .title {
    font-size: 2.7rem;
    -webkit-text-stroke: 1px white; 
}

.monitoring-index .info .row {
    margin-bottom: 2em;
}

.monitoring-index .info p {

} 

.machine-label {
    font-family: Impact;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: normal;
}

.monitoring-info .container {
    background-color: white;
    font-size: 9px;
}

.monitoring-info .table {
    margin-bottom: 0 !important;
}

.monitoring-info td {
    padding: 2px !important;
}

.text-right {
    text-align: right;
}

.monitoring-info tbody td {
    border: 1px solid black !important;
}

.monitoring-info tbody {
    border: 1px solid black !important;
}

.monitoring-info .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.monitoring-condition {
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.monitoring-condition img {
    width: 55rem;
}

.section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.monitoring-condition h2 {
    font-family: Impact;
    font-size: 2.5rem;
    margin-top: 0px;
}

.monitoring-condition h3 {
    font-family: Impact;
    font-size: 2rem;
    color: black;
    margin-top: 0px;
}

.monitoring-index span, .monitoring-condition .section span {
    text-decoration: underline;
}

.monitoring-condition .col-md-8 {
    padding-left: 30px;
}

.monitoring-condition .col-md-4 {
    text-align: right;
}

.monitoring-condition  td {
    padding-right: 5px;
}

.monitoring-condition p {
    color: lightgreen;
    padding-left: 50px;
}

.lightgreen-color {
    background: #A8D5AE;
}

.yellow-color {
    background: yellow;
}

.green-color {
    background: green;
}

.cyan-color {
    background: #02CCFE;
}

.orange-color {
    background: orange;
}

.fuchsia-color {
    background: fuchsia;
}

.royalblue-color {
    background: #6665FF;
}

.site-login, .site-error {
    color: white;
}

#choose-machine-form {
    position: relative;
    top: 25px;
    left: 250px;
    font-size: 2em;
}

.monitoring-route {
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    color: black;   
}

.monitoring-route .row {
    margin-bottom: 10px;
}

.monitoring-route .form-control {
    height: 20px;
    padding: 0;
    font-size: 1rem;
}

.monitoring-route .table-preset-interval {
    padding: 0 15px;
}

.monitoring-route .table-preset-interval > .col-md-3 {
    border: 1px #ddd solid;
    background-color: white;
}

.monitoring-route .table-preset-interval > .col-md-3:hover {
    background-color: #ddd;
}

.monitoring-route .table-preset-interval > .col-md-3 a {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.right-align {
    text-align: right;
}

#map {
    position: relative;
}

#info {
    padding: 20px;
    width: 175px;
    height: 100px;
    z-index: 1;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background: rgba(0,60,136,0.7);
    color: white;
    border: 0;
    transition: opacity 100ms ease-in;
}

@media (min-width: 1550px) {
    .container {
        width: 1500px;
    }
    .navbar-custom ul {
        margin-top: 0;
    }
    .monitoring-condition img {
        width: 69rem;
    }
    .monitoring-index img {
        width: 91rem;
    }
}

@media(max-width:1199px) {
    .monitoring-condition img {
        width: 44rem;
    }    
}